{
  "openapi": "3.0.0",
  "info": {
    "title": "Xero (merged: accounting + files + payroll-au)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.xero.com"
    }
  ],
  "paths": {
    "/api.xro/2.0/Accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/requiredHeader",
          "type": "string"
        }
      ],
      "get": {
        "security": [
          {
            "OAuth2": [
              "accounting.settings",
              "accounting.settings.read"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.getAccounts",
        "summary": "Retrieves the full chart of accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/ifModifiedSince"
          },
          {
            "in": "query",
            "name": "where",
            "description": "Filter by an any element",
            "example": "Status==&quot;ACTIVE&quot; AND Type==&quot;BANK&quot;",
            "x-example-csharp": "Status==\\\"ACTIVE\\\"",
            "x-example-java": "Status==&quot;&apos; + Account.StatusEnum.ACTIVE+ &apos;&quot;",
            "x-example-php": "Status==&quot;&apos; . \\XeroAPI\\XeroPHP\\Models\\Accounting\\Account::STATUS_ACTIVE . &apos;&quot;",
            "x-example-ruby": "Status==#{XeroRuby::Accounting::Account::ACTIVE}",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Order by an any element",
            "example": "Name ASC",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Accounts array with 0 to n Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAccounts"
                },
                "example": {
                  "Accounts": [
                    {
                      "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85",
                      "Code": "091",
                      "Name": "Business Savings Account",
                      "Type": "BANK",
                      "TaxType": "NONE",
                      "EnablePaymentsToAccount": false,
                      "BankAccountNumber": "0209087654321050",
                      "BankAccountType": "BANK",
                      "CurrencyCode": "NZD"
                    },
                    {
                      "AccountID": "7d05a53d-613d-4eb2-a2fc-dcb6adb80b80",
                      "Code": "200",
                      "Name": "Sales",
                      "Type": "REVENUE",
                      "TaxType": "OUTPUT2",
                      "Description": "Income from any normal business activity",
                      "EnablePaymentsToAccount": false
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "OAuth2": [
              "accounting.settings"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.createAccount",
        "summary": "Creates a new chart of accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "x-hasAccountingValidationError": true,
        "x-example": [
          {
            "object": null,
            "is_object": true,
            "key": "account",
            "keyPascal": "Account"
          },
          {
            "code": null,
            "key": "code",
            "keyPascal": "Code",
            "default": 123456,
            "object": "account"
          },
          {
            "name": null,
            "key": "name",
            "keyPascal": "Name",
            "default": "FooBar",
            "object": "account"
          },
          {
            "type": null,
            "key": "type",
            "keyPascal": "Type",
            "default": "EXPENSE",
            "nonString": true,
            "php": "XeroAPI\\XeroPHP\\Models\\Accounting\\AccountType::EXPENSE",
            "node": "AccountType.EXPENSE",
            "ruby": "XeroRuby::Accounting::AccountType::EXPENSE",
            "python": "AccountType.EXPENSE",
            "java": "com.xero.models.accounting.AccountType.EXPENSE",
            "csharp": "AccountType.EXPENSE",
            "object": "account"
          },
          {
            "description": null,
            "is_last": true,
            "key": "description",
            "keyPascal": "Description",
            "default": "Hello World",
            "object": "account"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - created new Account and return response of type Accounts array with new Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAccounts"
                },
                "example": {
                  "Id": "11814c9d-3b5e-492e-93b0-fad16bf3244f",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550793549392)/",
                  "Accounts": [
                    {
                      "AccountID": "66b262e2-561e-423e-8937-47d558f13442",
                      "Code": "123456",
                      "Name": "Foobar",
                      "Status": "ACTIVE",
                      "Type": "EXPENSE",
                      "TaxType": "INPUT",
                      "Description": "Hello World",
                      "Class": "EXPENSE",
                      "EnablePaymentsToAccount": false,
                      "ShowInExpenseClaims": false,
                      "ReportingCode": "EXP",
                      "ReportingCodeName": "Expense",
                      "UpdatedDateUTC": "/Date(1550793549320+0000)/"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingError"
                },
                "example": {
                  "ErrorNumber": 10,
                  "Type": "ValidationException",
                  "Message": "A validation exception occurred",
                  "Elements": [
                    {
                      "AccountID": "00000000-0000-0000-0000-000000000000",
                      "Code": "123456",
                      "Name": "Foobar",
                      "Type": "EXPENSE",
                      "Description": "Hello World",
                      "ValidationErrors": [
                        {
                          "Message": "Please enter a unique Name."
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Account object in body of request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingAccount"
              },
              "example": {
                "Code": "123456",
                "Name": "Foobar",
                "Type": "EXPENSE",
                "Description": "Hello World"
              }
            }
          }
        }
      }
    },
    "/api.xro/2.0/Accounts/{AccountID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/requiredHeader"
        }
      ],
      "get": {
        "security": [
          {
            "OAuth2": [
              "accounting.settings",
              "accounting.settings.read"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.getAccount",
        "summary": "Retrieves a single chart of accounts by using a unique account Id",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Accounts array with one Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAccounts"
                },
                "example": {
                  "Id": "323455cc-9511-4451-a873-248d2983f38e",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550797359081)/",
                  "Accounts": [
                    {
                      "AccountID": "99ce6032-0678-4aa0-8148-240c75fee33a",
                      "Code": "123456",
                      "Name": "FooBar",
                      "Status": "ACTIVE",
                      "Type": "EXPENSE",
                      "TaxType": "INPUT",
                      "Description": "Hello World",
                      "Class": "EXPENSE",
                      "EnablePaymentsToAccount": false,
                      "ShowInExpenseClaims": false,
                      "ReportingCode": "EXP",
                      "ReportingCodeName": "Expense",
                      "UpdatedDateUTC": "/Date(1550797359120+0000)/"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "OAuth2": [
              "accounting.settings"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.updateAccount",
        "summary": "Updates a chart of accounts",
        "x-hasAccountingValidationError": true,
        "x-example": [
          {
            "account": null,
            "is_object": true,
            "key": "account",
            "keyPascal": "Account"
          },
          {
            "code": null,
            "key": "code",
            "keyPascal": "Code",
            "default": 123456,
            "object": "account"
          },
          {
            "name": null,
            "key": "name",
            "keyPascal": "Name",
            "default": "BarFoo",
            "object": "account"
          },
          {
            "type": null,
            "key": "type",
            "keyPascal": "Type",
            "default": "EXPENSE",
            "nonString": true,
            "php": "XeroAPI\\XeroPHP\\Models\\Accounting\\AccountType::EXPENSE",
            "node": "AccountType.EXPENSE",
            "ruby": "XeroRuby::Accounting::AccountType::EXPENSE",
            "python": "AccountType.EXPENSE",
            "java": "com.xero.models.accounting.AccountType.EXPENSE",
            "csharp": "AccountType.EXPENSE",
            "object": "account"
          },
          {
            "description": null,
            "key": "description",
            "keyPascal": "Description",
            "default": "Hello World",
            "object": "account"
          },
          {
            "taxType": null,
            "is_last": true,
            "key": "taxType",
            "keyPascal": "TaxType",
            "keySnake": "tax_type",
            "default": "NONE",
            "object": "account"
          },
          {
            "accounts": null,
            "is_object": true,
            "key": "accounts",
            "keyPascal": "Accounts"
          },
          {
            "accounts": null,
            "is_last": true,
            "is_array_add": true,
            "key": "accounts",
            "keyPascal": "Accounts",
            "java": "Accounts",
            "csharp": "Account",
            "object": "account"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - update existing Account and return response of type Accounts array with updated Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAccounts"
                },
                "example": {
                  "Id": "9012e75c-ec08-40a9-ae15-153fc1f35c4d",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550795389340)/",
                  "Accounts": [
                    {
                      "AccountID": "99ce6032-0678-4aa0-8148-240c75fee33a",
                      "Code": "654321",
                      "Name": "BarFoo",
                      "Status": "ACTIVE",
                      "Type": "EXPENSE",
                      "TaxType": "INPUT",
                      "Description": "Good Bye World",
                      "Class": "EXPENSE",
                      "EnablePaymentsToAccount": false,
                      "ShowInExpenseClaims": false,
                      "ReportingCode": "EXP",
                      "ReportingCodeName": "Expense",
                      "UpdatedDateUTC": "/Date(1550795389333+0000)/"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingError"
                },
                "example": {
                  "ErrorNumber": 10,
                  "Type": "ValidationException",
                  "Message": "A validation exception occurred",
                  "Elements": [
                    {
                      "AccountID": "00000000-0000-0000-0000-000000000000",
                      "Code": "123456",
                      "Name": "Foobar",
                      "Type": "EXPENSE",
                      "Description": "Hello World",
                      "ValidationErrors": [
                        {
                          "Message": "Please enter a unique Name."
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Request of type Accounts array with one Account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingAccounts"
              },
              "example": {
                "Accounts": [
                  {
                    "Code": "123456",
                    "Name": "BarFoo",
                    "AccountID": "99ce6032-0678-4aa0-8148-240c75fee33a",
                    "Type": "EXPENSE",
                    "Description": "GoodBye World",
                    "TaxType": "INPUT",
                    "EnablePaymentsToAccount": false,
                    "ShowInExpenseClaims": false,
                    "Class": "EXPENSE",
                    "ReportingCode": "EXP",
                    "ReportingCodeName": "Expense",
                    "UpdatedDateUTC": "2019-02-21T16:29:47.96-08:00"
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "OAuth2": [
              "accounting.settings"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.deleteAccount",
        "x-hasAccountingValidationError": true,
        "summary": "Deletes a chart of accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - delete existing Account and return response of type Accounts array with deleted Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAccounts"
                },
                "example": {
                  "Id": "76bb0543-8efe-4acc-b7f6-67dfcdec37b4",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550798217216)/",
                  "Accounts": [
                    {
                      "AccountID": "7f3c0bec-f3e7-4073-b4d6-cc56dd027ef1",
                      "Code": "123456",
                      "Name": "FooBar",
                      "Status": "DELETED",
                      "Type": "EXPENSE",
                      "TaxType": "INPUT",
                      "Description": "Hello World",
                      "Class": "EXPENSE",
                      "EnablePaymentsToAccount": false,
                      "ShowInExpenseClaims": false,
                      "ReportingCode": "EXP",
                      "ReportingCodeName": "Expense",
                      "UpdatedDateUTC": "/Date(1550798217210+0000)/"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingError"
                },
                "example": {
                  "ErrorNumber": 10,
                  "Type": "ValidationException",
                  "Message": "A validation exception occurred",
                  "Elements": [
                    {
                      "AccountID": "00000000-0000-0000-0000-000000000000",
                      "Code": "123456",
                      "Name": "Foobar",
                      "Type": "EXPENSE",
                      "Description": "Hello World",
                      "ValidationErrors": [
                        {
                          "Message": "Please enter a unique Name."
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api.xro/2.0/Accounts/{AccountID}/Attachments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/requiredHeader"
        }
      ],
      "get": {
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.getAccountAttachments",
        "summary": "Retrieves attachments for a specific accounts by using a unique account Id",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Attachments array of Attachment",
            "x-isAttachment": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAttachments"
                },
                "example": {
                  "Id": "439c1573-3cd8-4697-a9f6-81fa651ee8f3",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550852630329)/",
                  "Attachments": [
                    {
                      "AttachmentID": "52a643be-cd5c-489f-9778-53a9fd337756",
                      "FileName": "sample5.jpg",
                      "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg",
                      "MimeType": "image/jpg",
                      "ContentLength": 2878711
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api.xro/2.0/Accounts/{AccountID}/Attachments/{AttachmentID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/requiredHeader"
        }
      ],
      "get": {
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.getAccountAttachmentById",
        "summary": "Retrieves a specific attachment from a specific account using a unique attachment Id",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/AttachmentID"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of attachment for Account as binary data",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api.xro/2.0/Accounts/{AccountID}/Attachments/{FileName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/requiredHeader"
        }
      ],
      "get": {
        "security": [
          {
            "OAuth2": [
              "accounting.attachments",
              "accounting.attachments.read"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.getAccountAttachmentByFileName",
        "summary": "Retrieves an attachment for a specific account by filename",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/FileName"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of attachment for Account as binary data",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "OAuth2": [
              "accounting.attachments"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.updateAccountAttachmentByFileName",
        "x-hasAccountingValidationError": true,
        "summary": "Updates attachment on a specific account by filename",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/FileName"
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Attachments array of Attachment",
            "x-isAttachment": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAttachments"
                },
                "example": {
                  "Id": "c8d6413a-1da2-4faa-9848-21f60443e906",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550859714477)/",
                  "Attachments": [
                    {
                      "AttachmentID": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "FileName": "sample5.jpg",
                      "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg",
                      "MimeType": "image/jpg",
                      "ContentLength": 2878711
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation Error - some data was incorrect returns response of type Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Byte array of file in body of request",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "OAuth2": [
              "accounting.attachments"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.createAccountAttachmentByFileName",
        "x-hasAccountingValidationError": true,
        "summary": "Creates an attachment on a specific account",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/FileName"
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type Attachments array of Attachment",
            "x-isAttachment": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAttachments"
                },
                "example": {
                  "Id": "724cdff5-bcd1-4c5c-977e-e864c24258e0",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550856817769)/",
                  "Attachments": [
                    {
                      "AttachmentID": "ab95b276-9dce-4925-9077-439818ba270f",
                      "FileName": "sample5.jpg",
                      "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg",
                      "MimeType": "image/jpg",
                      "ContentLength": 2878711
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          }
        },
        "requestBody": {
          "required": true,
          "description": "Byte array of file in body of request",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        }
      }
    },
    "/api.xro/2.0/BatchPayments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/requiredHeader"
        }
      ],
      "description": "Batch payments allow you to bundle multiple bills or invoices into one payment transaction. This means a single payment in Xero can be reconciled with a single transaction on the bank statement making for a much simpler bank reconciliation experience.",
      "get": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions",
              "accounting.transactions.read"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.getBatchPayments",
        "summary": "Retrieves either one or many batch payments for invoices",
        "parameters": [
          {
            "$ref": "#/components/parameters/ifModifiedSince"
          },
          {
            "in": "query",
            "name": "where",
            "description": "Filter by an any element",
            "example": "Status==\"AUTHORISED\"",
            "x-example-csharp": "Status==\\&quot;AUTHORISED\\&quot;",
            "x-example-java": "Status==&quot;&apos; + BatchPayment.StatusEnum.AUTHORISED + &apos;&quot;",
            "x-example-php": "Status==&quot;&apos; . XeroAPI\\XeroPHP\\Models\\Accounting\\BatchPayment::STATUS_AUTHORISED . &apos;&quot;",
            "x-example-ruby": "Status==#{XeroRuby::Accounting::BatchPayment::AUTHORISED}",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Order by an any element",
            "example": "Date ASC",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BatchPayments array of BatchPayment objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingBatchPayments"
                },
                "example": {
                  "Id": "6ab84949-4fe5-4788-a135-4d8f690d24d7",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550866184006)/",
                  "BatchPayments": [
                    {
                      "Account": {
                        "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                        "CurrencyCode": "NZD"
                      },
                      "Reference": "Hello World",
                      "BatchPaymentID": "d0e9bbbf-5b8a-48b6-906a-035591fcb061",
                      "DateString": "2017-11-28T00:00:00",
                      "Date": "/Date(1511827200000+0000)/",
                      "Payments": [
                        {
                          "Invoice": {
                            "InvoiceID": "0975dec2-0cf6-498d-9c9f-c6775b45c61d",
                            "CurrencyCode": "NZD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "97ec2ef8-f4d6-4de5-9f2a-385d41cdc2fc",
                          "Amount": 200,
                          "BankAmount": 200
                        },
                        {
                          "Invoice": {
                            "InvoiceID": "600982d9-6605-4e11-afa1-d8dec2be7b52",
                            "CurrencyCode": "NZD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "e232795f-b919-4865-a754-12f6ae8402c0",
                          "Amount": 200,
                          "BankAmount": 200
                        },
                        {
                          "Invoice": {
                            "InvoiceID": "99a2bd54-4ab1-413c-90bb-57f6464fe5d6",
                            "CurrencyCode": "NZD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "c2d571a5-38ff-4d37-9d43-dfadb4ad53ff",
                          "Amount": 200,
                          "BankAmount": 200
                        },
                        {
                          "Invoice": {
                            "InvoiceID": "c81942c8-bfc5-4c88-a21a-b892a4a8c1c5",
                            "CurrencyCode": "NZD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "0f3c18dc-49bd-47a4-a875-03c84a29978f",
                          "Amount": 200,
                          "BankAmount": 200
                        },
                        {
                          "Invoice": {
                            "InvoiceID": "6c9a1d89-8319-42f6-87d6-7690e748af85",
                            "CurrencyCode": "NZD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "43541eed-f3ac-44ac-88cb-9fe1cb7ed8b8",
                          "Amount": 200,
                          "BankAmount": 200
                        }
                      ],
                      "Type": "RECBATCH",
                      "Status": "AUTHORISED",
                      "TotalAmount": 1000,
                      "UpdatedDateUTC": "/Date(1511893792820+0000)/",
                      "IsReconciled": false
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.createBatchPayment",
        "summary": "Creates one or many batch payments for invoices",
        "x-hasAccountingValidationError": true,
        "x-example": [
          {
            "currDate": null,
            "is_date": true,
            "key": "currDate",
            "keyPascal": "CurrDate",
            "keySnake": "curr_date",
            "java_datatype": "LocalDate",
            "default": "LocalDate.now()",
            "java": "LocalDate.now()",
            "csharp": "DateTime.Now",
            "node": "'2020-12-10'",
            "php": "new DateTime('2020-12-10')",
            "python": "dateutil.parser.parse('2020-12-03T00:00:00Z')",
            "ruby": "'YYYY-MM-DD'"
          },
          {
            "paymentAccount": null,
            "is_object": true,
            "key": "paymentAccount",
            "keyPascal": "Account",
            "keySnake": "payment_account"
          },
          {
            "accountID": null,
            "is_last": true,
            "is_uuid": true,
            "key": "accountID",
            "keyPascal": "AccountID",
            "keySnake": "account_id",
            "default": "00000000-0000-0000-0000-000000000000",
            "object": "paymentAccount"
          },
          {
            "bankAccount": null,
            "is_object": true,
            "key": "bankAccount",
            "keyPascal": "Account",
            "keySnake": "bank_account"
          },
          {
            "accountID": null,
            "is_last": true,
            "is_uuid": true,
            "key": "accountID",
            "keyPascal": "AccountID",
            "keySnake": "account_id",
            "default": "00000000-0000-0000-0000-000000000000",
            "object": "bankAccount"
          },
          {
            "invoice": null,
            "is_object": true,
            "key": "invoice",
            "keyPascal": "Invoice"
          },
          {
            "invoiceID": null,
            "is_last": true,
            "is_uuid": true,
            "key": "invoiceID",
            "keyPascal": "InvoiceID",
            "keySnake": "invoice_id",
            "default": "00000000-0000-0000-0000-000000000000",
            "object": "invoice"
          },
          {
            "payment": null,
            "is_object": true,
            "key": "payment",
            "keyPascal": "Payment"
          },
          {
            "set_bankaccount": null,
            "is_variable": true,
            "nonString": true,
            "key": "account",
            "keyPascal": "Account",
            "default": "bankAccount",
            "python": "bank_account",
            "ruby": "bank_account",
            "object": "payment"
          },
          {
            "date": null,
            "is_variable": true,
            "nonString": true,
            "key": "date",
            "keyPascal": "Date",
            "default": "currDate",
            "python": "curr_date",
            "ruby": "curr_date",
            "object": "payment"
          },
          {
            "amount": null,
            "nonString": true,
            "key": "amount",
            "keyPascal": "Amount",
            "default": 1,
            "is_money": true,
            "object": "payment"
          },
          {
            "set_invoice": null,
            "is_last": true,
            "is_variable": true,
            "nonString": true,
            "key": "invoice",
            "keyPascal": "Invoice",
            "default": "invoice",
            "object": "payment"
          },
          {
            "payments": null,
            "is_list": true,
            "key": "payments",
            "keyPascal": "Payment"
          },
          {
            "add_payments": null,
            "is_last": true,
            "is_list_add": true,
            "key": "payments",
            "keyPascal": "Payments",
            "object": "payment"
          },
          {
            "batchPayment": null,
            "is_object": true,
            "key": "batchPayment",
            "keyPascal": "BatchPayment",
            "keySnake": "batch_payment"
          },
          {
            "set_paymentaccount": null,
            "is_variable": true,
            "nonString": true,
            "key": "account",
            "keyPascal": "Account",
            "default": "paymentAccount",
            "python": "payment_account",
            "ruby": "payment_account",
            "object": "batchPayment"
          },
          {
            "reference": null,
            "key": "reference",
            "keyPascal": "Reference",
            "default": "hello foobar",
            "object": "batchPayment"
          },
          {
            "date": null,
            "is_variable": true,
            "nonString": true,
            "key": "date",
            "keyPascal": "Date",
            "default": "currDate",
            "python": "curr_date",
            "ruby": "curr_date",
            "object": "batchPayment"
          },
          {
            "set_payments": null,
            "is_last": true,
            "is_variable": true,
            "nonString": true,
            "key": "payments",
            "keyPascal": "Payments",
            "default": "payments",
            "object": "batchPayment"
          },
          {
            "batchPayments": null,
            "is_object": true,
            "key": "batchPayments",
            "keyPascal": "BatchPayments"
          },
          {
            "add_batchPayments": null,
            "is_last": true,
            "is_array_add": true,
            "key": "batchPayments",
            "keyPascal": "BatchPayments",
            "keySnake": "batch_payments",
            "java": "BatchPayments",
            "python": "batch_payment",
            "ruby": "batch_payment",
            "csharp": "BatchPayment",
            "object": "batchPayment"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/summarizeErrors"
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BatchPayments array of BatchPayment objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingBatchPayments"
                },
                "example": {
                  "Id": "424745ed-6356-46ad-87d4-3585f9062fb4",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550865988111)/",
                  "BatchPayments": [
                    {
                      "Account": {
                        "AccountID": "5ec2f302-cd60-4f8b-a915-9229dd45e6fa",
                        "CurrencyCode": "NZD"
                      },
                      "Reference": "Foobar123",
                      "BatchPaymentID": "d318c343-208e-49fe-b04a-45642349bcf1",
                      "DateString": "2019-02-22T00:00:00",
                      "Date": "/Date(1550793600000+0000)/",
                      "Payments": [
                        {
                          "Invoice": {
                            "InvoiceID": "3323652c-155e-433b-8a73-4dde7cfbf410",
                            "CurrencyCode": "NZD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "c05098fa-ae3c-4f00-80ec-0a9df07dedff",
                          "Amount": 1,
                          "BankAmount": 1
                        },
                        {
                          "Invoice": {
                            "InvoiceID": "e4abafb4-1f5b-4d9f-80b3-9a7b815bc302",
                            "CurrencyCode": "NZD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "96409489-2f7d-4804-9a6d-6b939b0e038a",
                          "Amount": 1,
                          "BankAmount": 1
                        },
                        {
                          "Invoice": {
                            "InvoiceID": "e6039672-b161-40cd-b07b-a0178e7186ad",
                            "CurrencyCode": "NZD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "d2796067-bf71-4f06-b386-81f1454fa866",
                          "Amount": 1,
                          "BankAmount": 1
                        }
                      ],
                      "Type": "RECBATCH",
                      "Status": "AUTHORISED",
                      "TotalAmount": 3,
                      "UpdatedDateUTC": "/Date(1550865987783+0000)/",
                      "IsReconciled": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          }
        },
        "requestBody": {
          "required": true,
          "description": "BatchPayments with an array of Payments in body of request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingBatchPayments"
              },
              "example": {
                "BatchPayments": [
                  {
                    "Account": {
                      "AccountID": "00000000-0000-0000-0000-000000000000"
                    },
                    "Reference": "ref",
                    "Date": "2018-08-01",
                    "Payments": [
                      {
                        "Account": {
                          "Code": "001"
                        },
                        "Date": "2019-12-31",
                        "Amount": 500,
                        "Invoice": {
                          "InvoiceID": "00000000-0000-0000-0000-000000000000",
                          "LineItems": [],
                          "Contact": {},
                          "Type": "ACCPAY"
                        }
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.deleteBatchPayment",
        "summary": "Updates a specific batch payment for invoices and credit notes",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "x-hasAccountingValidationError": true,
        "x-example": [
          {
            "batchPaymentDelete": null,
            "is_object": true,
            "key": "batchPaymentDelete",
            "keyPascal": "BatchPaymentDelete"
          },
          {
            "status": null,
            "is_last": true,
            "key": "status",
            "keyPascal": "Status",
            "default": "DELETED",
            "object": "batchPaymentDelete"
          },
          {
            "batchPaymentID": null,
            "is_last": true,
            "is_uuid": true,
            "key": "batchPaymentID",
            "keyPascal": "BatchPaymentID",
            "keySnake": "batch_payment_id",
            "default": "00000000-0000-0000-0000-000000000000",
            "object": "batchPaymentDelete"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BatchPayments array for updated BatchPayment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingBatchPayments"
                },
                "example": {
                  "Id": "ee23328c-4a8b-4ee7-8fb6-9796ffab9cb0",
                  "Status": "OK",
                  "ProviderName": "provider-name",
                  "DateTimeUTC": "/Date(1583945852489)/",
                  "BatchPayments": [
                    {
                      "Account": {
                        "AccountID": "efb6e3a4-3156-4cee-bfe1-a282a3cc1d8f",
                        "CurrencyCode": "NZD"
                      },
                      "BatchPaymentID": "b649632e-2782-4c74-95a5-d994d7140ed9",
                      "DateString": "2022-08-01T00:00:00",
                      "Date": "/Date(1659312000000+0000)/",
                      "Payments": [],
                      "Type": "PAYBATCH",
                      "Status": "DELETED",
                      "TotalAmount": 18,
                      "UpdatedDateUTC": "/Date(1659377631813+0000)/",
                      "IsReconciled": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingBatchPaymentDelete"
              },
              "example": {
                "BatchPaymentID": "9bf296e9-0748-4d29-a3dc-24dde1098030",
                "Status": "DELETED"
              }
            }
          }
        }
      }
    },
    "/api.xro/2.0/BatchPayments/{BatchPaymentID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/requiredHeader"
        }
      ],
      "get": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions",
              "accounting.transactions.read"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.getBatchPayment",
        "summary": "Retrieves a specific batch payment using a unique batch payment Id",
        "parameters": [
          {
            "$ref": "#/components/parameters/BatchPaymentID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BatchPayments array with matching batch payment Id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingBatchPayments"
                },
                "example": {
                  "Id": "6ab84949-4fe5-4788-a135-4d8f690d24d7",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550866184006)/",
                  "BatchPayments": [
                    {
                      "Account": {
                        "AccountID": "13918178-849a-4823-9a31-57b7eac713d7",
                        "CurrencyCode": "NZD"
                      },
                      "Reference": "ref",
                      "BatchPaymentID": "44a1013e-4946-4a73-b207-dfe5424a5ea5",
                      "DateString": "2018-10-03T00:00:00",
                      "Date": "/Date(1538524800000+0000)/",
                      "Payments": [
                        {
                          "Invoice": {
                            "InvoiceID": "5aa9451d-95d1-4f95-a966-bbab2573f71c",
                            "CurrencyCode": "NZD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "a22a64cb-364e-43fa-9a1f-bb2cd1f4adde",
                          "Reference": "ref/cheque",
                          "Amount": 913.55,
                          "BankAmount": 913.55
                        },
                        {
                          "Invoice": {
                            "InvoiceID": "30a87092-31b5-4a2c-831e-327486533dd2",
                            "CurrencyCode": "AUD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "6e20be79-32d8-4ae1-978e-f76d9b245c02",
                          "Amount": 495,
                          "BankAmount": 540
                        },
                        {
                          "Invoice": {
                            "InvoiceID": "86d6e00f-ef56-49f7-9a54-796ccd5ca057",
                            "CurrencyCode": "NZD",
                            "Payments": [],
                            "CreditNotes": [],
                            "Prepayments": [],
                            "Overpayments": [],
                            "HasErrors": false,
                            "IsDiscounted": false,
                            "LineItems": []
                          },
                          "PaymentID": "4ba761b8-5940-4a3f-bcdf-7775adb00332",
                          "Amount": 3080,
                          "BankAmount": 3080
                        }
                      ],
                      "Type": "RECBATCH",
                      "Status": "AUTHORISED",
                      "TotalAmount": 4533.55,
                      "UpdatedDateUTC": "/Date(1538525239370+0000)/",
                      "IsReconciled": false
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.deleteBatchPaymentByUrlParam",
        "summary": "Updates a specific batch payment for invoices and credit notes",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          },
          {
            "$ref": "#/components/parameters/BatchPaymentID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BatchPayments array for updated BatchPayment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingBatchPayments"
                },
                "example": {
                  "Id": "ee23328c-4a8b-4ee7-8fb6-9796ffab9cb0",
                  "Status": "OK",
                  "ProviderName": "provider-name",
                  "DateTimeUTC": "/Date(1583945852489)/",
                  "BatchPayments": [
                    {
                      "Account": {
                        "AccountID": "efb6e3a4-3156-4cee-bfe1-a282a3cc1d8f",
                        "CurrencyCode": "NZD"
                      },
                      "BatchPaymentID": "b649632e-2782-4c74-95a5-d994d7140ed9",
                      "DateString": "2022-08-01T00:00:00",
                      "Date": "/Date(1659312000000+0000)/",
                      "Payments": [],
                      "Type": "PAYBATCH",
                      "Status": "DELETED",
                      "TotalAmount": 18,
                      "UpdatedDateUTC": "/Date(1659377631813+0000)/",
                      "IsReconciled": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingBatchPaymentDeleteByUrlParam"
              },
              "example": {
                "Status": "DELETED"
              }
            }
          }
        }
      }
    },
    "/api.xro/2.0/BatchPayments/{BatchPaymentID}/History": {
      "parameters": [
        {
          "$ref": "#/components/parameters/requiredHeader"
        }
      ],
      "get": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions",
              "accounting.transactions.read"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.getBatchPaymentHistory",
        "summary": "Retrieves history from a specific batch payment",
        "parameters": [
          {
            "$ref": "#/components/parameters/BatchPaymentID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of HistoryRecords array of 0 to N HistoryRecord",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingHistoryRecords"
                },
                "example": {
                  "Id": "c58e2f9c-baad-42a4-8bb7-f32b6f88fa04",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550898452503)/",
                  "HistoryRecords": [
                    {
                      "Changes": "Approved",
                      "DateUTCString": "2017-11-28T18:29:52",
                      "DateUTC": "/Date(1511893792813+0000)/",
                      "User": "Buzz Lightyear",
                      "Details": ""
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.createBatchPaymentHistoryRecord",
        "summary": "Creates a history record for a specific batch payment",
        "x-hasAccountingValidationError": true,
        "x-example": [
          {
            "historyRecord": null,
            "is_object": true,
            "key": "historyRecord",
            "keyPascal": "HistoryRecord",
            "keySnake": "history_record"
          },
          {
            "Details": null,
            "is_last": true,
            "key": "details",
            "keyPascal": "Details",
            "default": "Hello World",
            "object": "historyRecord"
          },
          {
            "historyRecords": null,
            "is_object": true,
            "key": "historyRecords",
            "keyPascal": "HistoryRecords"
          },
          {
            "add_historyRecord": null,
            "is_last": true,
            "is_array_add": true,
            "key": "historyRecords",
            "keyPascal": "HistoryRecords",
            "keySnake": "history_records",
            "java": "HistoryRecords",
            "python": "history_record",
            "ruby": "history_record",
            "csharp": "HistoryRecord",
            "object": "historyRecord"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          },
          {
            "$ref": "#/components/parameters/BatchPaymentID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type HistoryRecords array of HistoryRecord objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingHistoryRecords"
                },
                "example": {
                  "Id": "d7525479-3392-44c0-bb37-ff4a0b5df5bd",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1550899400362)/",
                  "HistoryRecords": [
                    {
                      "DateUTCString": "2019-02-23T05:23:20",
                      "DateUTC": "/Date(1550899400362)/",
                      "Details": "Hello World",
                      "ValidationErrors": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/historyRecords"
        }
      }
    },
    "/api.xro/2.0/BankTransactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/requiredHeader"
        }
      ],
      "get": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions",
              "accounting.transactions.read"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.getBankTransactions",
        "summary": "Retrieves any spent or received money transactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/ifModifiedSince"
          },
          {
            "in": "query",
            "name": "where",
            "description": "Filter by an any element",
            "example": "Status==\"AUTHORISED\"",
            "x-example-java": "Status==&quot;&apos; + BankTransaction.StatusEnum.AUTHORISED + &apos;&quot;",
            "x-example-csharp": "Status==\\\"AUTHORISED\\\"",
            "x-example-php": "Status==&quot;&apos; . XeroAPI\\XeroPHP\\Models\\Accounting\\BankTransaction::STATUS_AUTHORISED . &apos;&quot;",
            "x-example-ruby": "Status==#{XeroRuby::Accounting::BankTransaction::AUTHORISED}",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Order by an any element",
            "example": "Type ASC",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Up to 100 bank transactions will be returned in a single API call with line items details",
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/unitdp"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BankTransactions array with 0 to n BankTransaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingBankTransactions"
                },
                "example": {
                  "Id": "18e7e80c-5dca-4a57-974e-8b572cc5efe8",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1551212901659)/",
                  "pagination": {
                    "page": 1,
                    "pageSize": 100,
                    "pageCount": 1,
                    "itemCount": 3
                  },
                  "BankTransactions": [
                    {
                      "BankTransactionID": "db54aab0-ad40-4ced-bcff-0940ba20db2c",
                      "BankAccount": {
                        "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                        "Code": "088",
                        "Name": "Business Wells Fargo"
                      },
                      "BatchPayment": {
                        "Account": {
                          "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9"
                        },
                        "BatchPaymentID": "b54aa50c-794c-461b-89d1-846e1b84d9c0",
                        "Date": "/Date(1476316800000+0000)/",
                        "Type": "RECBATCH",
                        "Status": "AUTHORISED",
                        "TotalAmount": "12.00",
                        "UpdatedDateUTC": "/Date(1476392487037+0000)/",
                        "IsReconciled": "false"
                      },
                      "Type": "RECEIVE",
                      "IsReconciled": false,
                      "PrepaymentID": "cb62750f-b49c-464b-a45b-e2e2c514c8a9",
                      "HasAttachments": true,
                      "Contact": {
                        "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49",
                        "Name": "sam",
                        "Addresses": [],
                        "Phones": [],
                        "ContactGroups": [],
                        "ContactPersons": [],
                        "HasValidationErrors": false
                      },
                      "DateString": "2016-10-13T00:00:00",
                      "Date": "/Date(1476316800000+0000)/",
                      "Status": "AUTHORISED",
                      "LineAmountTypes": "Exclusive",
                      "LineItems": [],
                      "SubTotal": 10,
                      "TotalTax": 0,
                      "Total": 10,
                      "UpdatedDateUTC": "/Date(1476389616437+0000)/",
                      "CurrencyCode": "USD"
                    },
                    {
                      "BankTransactionID": "29a69c45-64ca-4805-a1cc-34990de837b3",
                      "BankAccount": {
                        "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                        "Code": "088",
                        "Name": "Business Wells Fargo"
                      },
                      "Type": "SPEND-OVERPAYMENT",
                      "IsReconciled": false,
                      "OverpaymentID": "7d457db3-3b0a-47e9-8b79-81252a7bcdcb",
                      "HasAttachments": false,
                      "Contact": {
                        "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49",
                        "Name": "sam",
                        "Addresses": [],
                        "Phones": [],
                        "ContactGroups": [],
                        "ContactPersons": [],
                        "HasValidationErrors": false
                      },
                      "DateString": "2016-10-13T00:00:00",
                      "Date": "/Date(1476316800000+0000)/",
                      "Status": "AUTHORISED",
                      "LineAmountTypes": "NoTax",
                      "LineItems": [],
                      "SubTotal": 9,
                      "TotalTax": 0,
                      "Total": 9,
                      "UpdatedDateUTC": "/Date(1476389930500+0000)/",
                      "CurrencyCode": "USD"
                    },
                    {
                      "BankTransactionID": "0b89bf5c-d40b-4514-96be-36a739fb0188",
                      "BankAccount": {
                        "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                        "Code": "088",
                        "Name": "Business Wells Fargo"
                      },
                      "Type": "SPEND-OVERPAYMENT",
                      "IsReconciled": false,
                      "OverpaymentID": "bf9b5f33-c0d6-4182-84a2-40848023e5a1",
                      "HasAttachments": false,
                      "Contact": {
                        "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49",
                        "Name": "sam",
                        "Addresses": [],
                        "Phones": [],
                        "ContactGroups": [],
                        "ContactPersons": [],
                        "HasValidationErrors": false
                      },
                      "DateString": "2016-10-13T00:00:00",
                      "Date": "/Date(1476316800000+0000)/",
                      "Status": "AUTHORISED",
                      "LineAmountTypes": "NoTax",
                      "LineItems": [],
                      "SubTotal": 8,
                      "TotalTax": 0,
                      "Total": 8,
                      "UpdatedDateUTC": "/Date(1476392487037+0000)/",
                      "CurrencyCode": "USD"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.createBankTransactions",
        "summary": "Creates one or more spent or received money transaction",
        "x-hasAccountingValidationError": true,
        "x-example": [
          {
            "contact": null,
            "is_object": true,
            "key": "contact",
            "keyPascal": "Contact"
          },
          {
            "contactID": null,
            "is_uuid": true,
            "is_last": true,
            "key": "contactID",
            "keyPascal": "ContactID",
            "keySnake": "contact_id",
            "default": "00000000-0000-0000-0000-000000000000",
            "object": "contact"
          },
          {
            "lineItem": null,
            "is_object": true,
            "key": "lineItem",
            "keyPascal": "LineItem",
            "keySnake": "line_item"
          },
          {
            "description": null,
            "key": "description",
            "keyPascal": "Description",
            "default": "Foobar",
            "object": "lineItem"
          },
          {
            "quantity": null,
            "nonString": true,
            "key": "quantity",
            "keyPascal": "Quantity",
            "default": 1,
            "is_money": true,
            "object": "lineItem"
          },
          {
            "unitAmount": null,
            "nonString": true,
            "key": "unitAmount",
            "keyPascal": "UnitAmount",
            "keySnake": "unit_amount",
            "default": 20,
            "is_money": true,
            "object": "lineItem"
          },
          {
            "accountCode": null,
            "is_last": true,
            "key": "accountCode",
            "keyPascal": "AccountCode",
            "keySnake": "account_code",
            "default": "000",
            "object": "lineItem"
          },
          {
            "line_items": null,
            "is_list": true,
            "key": "lineItems",
            "keyPascal": "LineItems",
            "keySnake": "line_items",
            "csharp": "LineItem",
            "java": "LineItem"
          },
          {
            "add_lineitems": null,
            "is_last": true,
            "is_list_add": true,
            "key": "lineItems",
            "keyPascal": "LineItems",
            "keySnake": "line_items",
            "java": "LineItems",
            "python": "line_item",
            "ruby": "line_item",
            "csharp": "LineItem",
            "object": "lineItem"
          },
          {
            "bankAccount": null,
            "is_object": true,
            "key": "bankAccount",
            "keyPascal": "Account",
            "keySnake": "bank_account"
          },
          {
            "accountID": null,
            "is_last": true,
            "is_uuid": true,
            "key": "accountID",
            "keyPascal": "AccountID",
            "keySnake": "account_id",
            "default": "00000000-0000-0000-0000-000000000000",
            "object": "bankAccount"
          },
          {
            "bankTransaction": null,
            "is_object": true,
            "key": "bankTransaction",
            "keyPascal": "BankTransaction",
            "keySnake": "bank_transaction"
          },
          {
            "type": null,
            "nonString": true,
            "key": "type",
            "keyPascal": "Type",
            "default": "RECEIVE",
            "php": "XeroAPI\\XeroPHP\\Models\\Accounting\\BankTransaction::TYPE_RECEIVE",
            "node": "BankTransaction.TypeEnum.RECEIVE",
            "ruby": "XeroRuby::Accounting::BankTransaction::RECEIVE",
            "python_string": "RECEIVE",
            "java": "com.xero.models.accounting.BankTransaction.TypeEnum.RECEIVE",
            "csharp": "BankTransaction.TypeEnum.RECEIVE",
            "object": "bankTransaction"
          },
          {
            "set_contact": null,
            "is_variable": true,
            "nonString": true,
            "key": "contact",
            "keyPascal": "Contact",
            "default": "contact",
            "object": "bankTransaction"
          },
          {
            "set_lineitems": null,
            "is_variable": true,
            "nonString": true,
            "key": "lineItems",
            "keyPascal": "LineItems",
            "object": "bankTransaction",
            "default": "lineItems"
          },
          {
            "set_bankaccount": null,
            "is_last": true,
            "is_variable": true,
            "nonString": true,
            "key": "bankAccount",
            "keyPascal": "BankAccount",
            "keySnake": "bank_account",
            "python": "bank_account",
            "ruby": "bank_account",
            "default": "bankAccount",
            "object": "bankTransaction"
          },
          {
            "bankTransactions": null,
            "is_object": true,
            "key": "bankTransactions",
            "keyPascal": "BankTransactions"
          },
          {
            "add_bankTransaction": null,
            "is_last": true,
            "is_array_add": true,
            "key": "bankTransactions",
            "keyPascal": "BankTransactions",
            "keySnake": "bank_transactions",
            "java": "BankTransactions",
            "python": "bank_transaction",
            "ruby": "bank_transaction",
            "csharp": "BankTransaction",
            "object": "bankTransaction"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/summarizeErrors"
          },
          {
            "$ref": "#/components/parameters/unitdp"
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BankTransactions array with new BankTransaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingBankTransactions"
                },
                "example": {
                  "Id": "5bc1d776-3c7f-4fe8-9b2d-09e747077a88",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1551213568047)/",
                  "BankTransactions": [
                    {
                      "BankTransactionID": "1289c190-e46d-434b-9628-463ffdb52f00",
                      "BankAccount": {
                        "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                        "Code": "088",
                        "Name": "Business Wells Fargo"
                      },
                      "Type": "SPEND",
                      "Reference": "",
                      "IsReconciled": false,
                      "CurrencyRate": 1,
                      "Contact": {
                        "ContactID": "5cc8cf28-567e-4d43-b287-687cfcaec47c",
                        "ContactStatus": "ACTIVE",
                        "Name": "Katherine Warren",
                        "FirstName": "Katherine",
                        "LastName": "Warren",
                        "EmailAddress": "kat.warren@clampett.com",
                        "BankAccountDetails": "",
                        "Addresses": [
                          {
                            "AddressType": "STREET",
                            "City": "",
                            "Region": "",
                            "PostalCode": "",
                            "Country": ""
                          },
                          {
                            "AddressType": "POBOX",
                            "AddressLine1": "",
                            "AddressLine2": "",
                            "AddressLine3": "",
                            "AddressLine4": "",
                            "City": "Palo Alto",
                            "Region": "CA",
                            "PostalCode": "94020",
                            "Country": "United States"
                          }
                        ],
                        "Phones": [
                          {
                            "PhoneType": "DEFAULT",
                            "PhoneNumber": "847-1294",
                            "PhoneAreaCode": "(626)",
                            "PhoneCountryCode": ""
                          },
                          {
                            "PhoneType": "DDI",
                            "PhoneNumber": "",
                            "PhoneAreaCode": "",
                            "PhoneCountryCode": ""
                          },
                          {
                            "PhoneType": "FAX",
                            "PhoneNumber": "",
                            "PhoneAreaCode": "",
                            "PhoneCountryCode": ""
                          },
                          {
                            "PhoneType": "MOBILE",
                            "PhoneNumber": "",
                            "PhoneAreaCode": "",
                            "PhoneCountryCode": ""
                          }
                        ],
                        "UpdatedDateUTC": "/Date(1503348544227+0000)/",
                        "ContactGroups": [],
                        "ContactPersons": [],
                        "HasValidationErrors": false
                      },
                      "DateString": "2019-02-26T00:00:00",
                      "Date": "/Date(1551139200000+0000)/",
                      "Status": "AUTHORISED",
                      "LineAmountTypes": "Inclusive",
                      "LineItems": [
                        {
                          "Description": "Foobar",
                          "UnitAmount": 20,
                          "TaxType": "TAX001",
                          "TaxAmount": 1.74,
                          "LineAmount": 20,
                          "AccountCode": "400",
                          "Tracking": [],
                          "Quantity": 1,
                          "LineItemID": "d2a06879-da49-4d6c-83b5-72a93a523ec6",
                          "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85",
                          "ValidationErrors": []
                        }
                      ],
                      "SubTotal": 18.26,
                      "TotalTax": 1.74,
                      "Total": 20,
                      "UpdatedDateUTC": "/Date(1551213567813+0000)/",
                      "CurrencyCode": "USD",
                      "StatusAttributeString": "ERROR",
                      "ValidationErrors": [
                        {
                          "Message": "The Contact must contain at least 1 of the following elements to identify the contact: Name, ContactID, ContactNumber"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          }
        },
        "requestBody": {
          "required": true,
          "description": "BankTransactions with an array of BankTransaction objects in body of request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingBankTransactions"
              },
              "example": {
                "bankTransactions": [
                  {
                    "type": "BankTransaction.TypeEnum.SPEND",
                    "contact": {
                      "contactID": "00000000-0000-0000-0000-000000000000"
                    },
                    "lineItems": [
                      {
                        "description": "Foobar",
                        "quantity": 1,
                        "unitAmount": 20,
                        "accountCode": "000"
                      }
                    ],
                    "bankAccount": {
                      "code": "000"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.updateOrCreateBankTransactions",
        "summary": "Updates or creates one or more spent or received money transaction",
        "x-hasAccountingValidationError": true,
        "x-example": [
          {
            "contact": null,
            "is_object": true,
            "key": "contact",
            "keyPascal": "Contact"
          },
          {
            "contactID": null,
            "is_uuid": true,
            "is_last": true,
            "key": "contactID",
            "keyPascal": "ContactID",
            "keySnake": "contact_id",
            "default": "00000000-0000-0000-0000-000000000000",
            "object": "contact"
          },
          {
            "lineItem": null,
            "is_object": true,
            "key": "lineItem",
            "keyPascal": "LineItem",
            "keySnake": "line_item"
          },
          {
            "description": null,
            "key": "description",
            "keyPascal": "Description",
            "default": "Foobar",
            "object": "lineItem"
          },
          {
            "quantity": null,
            "nonString": true,
            "key": "quantity",
            "keyPascal": "Quantity",
            "default": 1,
            "is_money": true,
            "object": "lineItem"
          },
          {
            "unitAmount": null,
            "nonString": true,
            "key": "unitAmount",
            "keyPascal": "UnitAmount",
            "keySnake": "unit_amount",
            "default": 20,
            "is_money": true,
            "object": "lineItem"
          },
          {
            "accountCode": null,
            "is_last": true,
            "key": "accountCode",
            "keyPascal": "AccountCode",
            "keySnake": "account_code",
            "default": "000",
            "object": "lineItem"
          },
          {
            "line_items": null,
            "is_list": true,
            "key": "lineItems",
            "keyPascal": "LineItems",
            "keySnake": "line_items",
            "csharp": "LineItem",
            "java": "LineItem"
          },
          {
            "add_lineitems": null,
            "is_last": true,
            "is_list_add": true,
            "key": "lineItems",
            "keyPascal": "LineItems",
            "keySnake": "line_items",
            "java": "LineItems",
            "python": "line_item",
            "ruby": "line_item",
            "csharp": "LineItem",
            "object": "lineItem"
          },
          {
            "bankAccount": null,
            "is_object": true,
            "key": "bankAccount",
            "keyPascal": "Account",
            "keySnake": "bank_account"
          },
          {
            "accountID": null,
            "is_last": true,
            "is_uuid": true,
            "key": "accountID",
            "keyPascal": "AccountID",
            "keySnake": "account_id",
            "default": "00000000-0000-0000-0000-000000000000",
            "object": "bankAccount"
          },
          {
            "bankTransaction": null,
            "is_object": true,
            "key": "bankTransaction",
            "keyPascal": "BankTransaction",
            "keySnake": "bank_transaction"
          },
          {
            "type": null,
            "nonString": true,
            "key": "type",
            "keyPascal": "Type",
            "default": "RECEIVE",
            "php": "XeroAPI\\XeroPHP\\Models\\Accounting\\BankTransaction::TYPE_RECEIVE",
            "node": "BankTransaction.TypeEnum.RECEIVE",
            "ruby": "XeroRuby::Accounting::BankTransaction::RECEIVE",
            "python_string": "RECEIVE",
            "java": "com.xero.models.accounting.BankTransaction.TypeEnum.RECEIVE",
            "csharp": "BankTransaction.TypeEnum.RECEIVE",
            "object": "bankTransaction"
          },
          {
            "set_contact": null,
            "is_variable": true,
            "nonString": true,
            "key": "contact",
            "keyPascal": "Contact",
            "default": "contact",
            "object": "bankTransaction"
          },
          {
            "set_lineitems": null,
            "is_variable": true,
            "nonString": true,
            "key": "lineItems",
            "keyPascal": "LineItems",
            "object": "bankTransaction",
            "default": "lineItems"
          },
          {
            "set_bankaccount": null,
            "is_last": true,
            "is_variable": true,
            "nonString": true,
            "key": "bankAccount",
            "keyPascal": "BankAccount",
            "keySnake": "bank_account",
            "python": "bank_account",
            "ruby": "bank_account",
            "default": "bankAccount",
            "object": "bankTransaction"
          },
          {
            "bankTransactions": null,
            "is_object": true,
            "key": "bankTransactions",
            "keyPascal": "BankTransactions"
          },
          {
            "add_bankTransaction": null,
            "is_last": true,
            "is_array_add": true,
            "key": "bankTransactions",
            "keyPascal": "BankTransactions",
            "keySnake": "bank_transactions",
            "java": "BankTransactions",
            "python": "bank_transaction",
            "ruby": "bank_transaction",
            "csharp": "BankTransaction",
            "object": "bankTransaction"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/summarizeErrors"
          },
          {
            "$ref": "#/components/parameters/unitdp"
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BankTransactions array with new BankTransaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingBankTransactions"
                },
                "example": {
                  "Id": "5bc1d776-3c7f-4fe8-9b2d-09e747077a88",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1551213568047)/",
                  "BankTransactions": [
                    {
                      "BankTransactionID": "1289c190-e46d-434b-9628-463ffdb52f00",
                      "BankAccount": {
                        "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                        "Code": "088",
                        "Name": "Business Wells Fargo"
                      },
                      "Type": "SPEND",
                      "Reference": "",
                      "IsReconciled": false,
                      "CurrencyRate": 1,
                      "Contact": {
                        "ContactID": "5cc8cf28-567e-4d43-b287-687cfcaec47c",
                        "ContactStatus": "ACTIVE",
                        "Name": "Katherine Warren",
                        "FirstName": "Katherine",
                        "LastName": "Warren",
                        "EmailAddress": "kat.warren@clampett.com",
                        "BankAccountDetails": "",
                        "Addresses": [
                          {
                            "AddressType": "STREET",
                            "City": "",
                            "Region": "",
                            "PostalCode": "",
                            "Country": ""
                          },
                          {
                            "AddressType": "POBOX",
                            "AddressLine1": "",
                            "AddressLine2": "",
                            "AddressLine3": "",
                            "AddressLine4": "",
                            "City": "Palo Alto",
                            "Region": "CA",
                            "PostalCode": "94020",
                            "Country": "United States"
                          }
                        ],
                        "Phones": [
                          {
                            "PhoneType": "DEFAULT",
                            "PhoneNumber": "847-1294",
                            "PhoneAreaCode": "(626)",
                            "PhoneCountryCode": ""
                          },
                          {
                            "PhoneType": "DDI",
                            "PhoneNumber": "",
                            "PhoneAreaCode": "",
                            "PhoneCountryCode": ""
                          },
                          {
                            "PhoneType": "FAX",
                            "PhoneNumber": "",
                            "PhoneAreaCode": "",
                            "PhoneCountryCode": ""
                          },
                          {
                            "PhoneType": "MOBILE",
                            "PhoneNumber": "",
                            "PhoneAreaCode": "",
                            "PhoneCountryCode": ""
                          }
                        ],
                        "UpdatedDateUTC": "/Date(1503348544227+0000)/",
                        "ContactGroups": [],
                        "ContactPersons": [],
                        "HasValidationErrors": false
                      },
                      "DateString": "2019-02-26T00:00:00",
                      "Date": "/Date(1551139200000+0000)/",
                      "Status": "AUTHORISED",
                      "LineAmountTypes": "Inclusive",
                      "LineItems": [
                        {
                          "Description": "Foobar",
                          "UnitAmount": 20,
                          "TaxType": "TAX001",
                          "TaxAmount": 1.74,
                          "LineAmount": 20,
                          "AccountCode": "400",
                          "Tracking": [],
                          "Quantity": 1,
                          "LineItemID": "d2a06879-da49-4d6c-83b5-72a93a523ec6",
                          "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85",
                          "ValidationErrors": []
                        }
                      ],
                      "SubTotal": 18.26,
                      "TotalTax": 1.74,
                      "Total": 20,
                      "UpdatedDateUTC": "/Date(1551213567813+0000)/",
                      "CurrencyCode": "USD",
                      "StatusAttributeString": "ERROR",
                      "ValidationErrors": [
                        {
                          "Message": "The Contact must contain at least 1 of the following elements to identify the contact: Name, ContactID, ContactNumber"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingBankTransactions"
              },
              "example": {
                "BankTransactions": [
                  {
                    "Type": "SPEND",
                    "Contact": {
                      "ContactID": "00000000-0000-0000-0000-000000000000"
                    },
                    "Lineitems": [
                      {
                        "Description": "Foobar",
                        "Quantity": 1,
                        "UnitAmount": 20,
                        "AccountCode": "400"
                      }
                    ],
                    "BankAccount": {
                      "Code": "088"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api.xro/2.0/BankTransactions/{BankTransactionID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/requiredHeader"
        }
      ],
      "get": {
        "security": [
          {
            "OAuth2": [
              "accounting.transactions",
              "accounting.transactions.read"
            ]
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "xero.accounting.getBankTransaction",
        "summary": "Retrieves a single spent or received money transaction by using a unique bank transaction Id",
        "parameters": [
          {
            "$ref": "#/components/parameters/BankTransactionID"
          },
          {
            "$ref": "#/components/parameters/unitdp"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - return response of type BankTransactions array with a specific BankTransaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingBankTransactions"
                },
                "example": {
                  "Id": "612e204d-21ab-469b-ac84-afe0697b4461",
                  "Status": "OK",
                  "ProviderName": "Xero API Partner",
                  "DateTimeUTC": "/Date(1551212902962)/",
                  "BankTransactions": [
                    {
                      "BankTransactionID": "db54aab0-ad40-4ced-bcff-0940ba20db2c",
                      "BankAccount": {
                        "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9",
                        "Code": "088",
                        "Name": "Business Wells Fargo"
                      },
                      "BatchPayment": {
                        "Account": {
                          "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9"
                        },
                        "BatchPaymentID": "b54aa50c-794c-461b-89d1-846e1b84d9c0",
                        "Date": "/Date(1476316800000+0000)/",
                        "Type": "RECBATCH",
                        "Status": "AUTHORISED",
                        "TotalAmount": "12.00",
                        "UpdatedDateUTC": "/Date(1476392487037+0000)/",
                        "IsReconciled": "false"
                      },
                      "Type": "RECEIVE",
                      "IsReconciled": false,
                      "CurrencyRate": 1,
                      "PrepaymentID": "cb62750f-b49c-464b-a45b-e2e2c514c8a9",
                      "HasAttachments": true,
                      "Attachments": [
                        {
                          "AttachmentID": "45dd3143-9856-42d2-9a6c-53814f67a33e",
                          "FileName": "sample2.jpg",
                          "Url": "https://api.xero.com/api.xro/2.0/banktransaction/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample2.jpg",
                          "MimeType": "image/jpg",
                          "ContentLength": 2878711
                        }
                      ],
                      "Contact": {
                        "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49",
                        "ContactStatus": "ACTIVE",
                        "Name": "sam",
                        "EmailAddress": "",
                        "BankAccountDetails": "",
                        "Addresses": [
                          {
                            "AddressType": "STREET",
                            "City": "",
                            "Region": "",
                            "PostalCode": "",
                            "Country": ""
                          },
                          {
                            "AddressType": "POBOX",
                            "City": "",
                            "Region": "",
                            "PostalCode": "",
                            "Country": ""
                          }
                        ],
                        "Phones": [
                          {
                            "PhoneType": "DEFAULT",
                            "PhoneNumber": "",
                            "PhoneAreaCode": "",
                            "PhoneCountryCode": ""
                          },
                          {
                            "PhoneType": "DDI",
                            "PhoneNumber": "",
                            "PhoneAreaCode": "",
                            "PhoneCountryCode": ""
                          },
                          {
                            "PhoneType": "FAX",
                            "PhoneNumber": "",
                            "PhoneAreaCode": "",
                            "PhoneCountryCode": ""
                          },
                          {
                            "PhoneType": "MOBILE",
                            "PhoneNumber": "",
                            "PhoneAreaCode": "",
                            "PhoneCountryCode": ""
                          }
                        ],
                        "UpdatedDateUTC": "/Date(1518821703467+0000)/",
                        "ContactGroups": [],
                        "DefaultCurrency": "USD",
                        "ContactPersons": [],
                        "HasValidationErrors": false
                      },
                      "DateString": "2016-10-13T00:00:00",
                      "Date": "/Date(1476316800000+0000)/",
                      "Status": "AUTHORISED",
                      "LineAmountTypes": "Exclusive",
                      "LineItems": [
                        {
                          "Description": "hello",
                          "UnitAmount": 10,
                          "TaxType": "OUTPUT",
                          "TaxAmount": 0,
                          "LineAmount": 10,
                          "AccountCode": "400",
                          "Tracking": [],
                          "Quantity": 1,
                          "LineItemID": "40bec527-a744-4149-96c5-0ab643b51158",
                          "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85",
                          "ValidationErrors": []
[...]
